<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SPHttp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5200B3B61C8D2058009D544B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5200B3CF1C8D2059009D544B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5200B3DA1C8D2059009D544B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
